<div class='comment' data-behavior="editable hoverable" data-id="<%= dom_id(comment) %>">

  <%= render partial: 'shared/approval_button', locals: {approvable: comment} %>
  <%= render partial: 'shared/details_button' %>
  <%= render partial: 'shared/edit_button' %>
  <%= render partial: 'shared/delete_button', locals: {deletable: comment} %>

  <div class="view">
    <p>
      <%= comment.body %>
    </p>
  </div>
  <div class="details" data-behavior="details">
    <small>
      <%= comment.created_at.to_s(:long) %>
      by
      <%= comment.user.try(:email) %>
      at
      <%= comment.try(:region_name) %>
    </small>
  </div>
  <div class="edit">
    <%= form_for(comment, remote: true, :html => { :class => "form-horizontal" }) do |f| %>
      <%= f.text_area :body, id: "comment-body-#{comment.id}", :class => "form-control" %>
      <br/>
      <%= f.submit :class => "btn btn-primary" %>
    <% end %>
  </div>
  <br/>
</div>
