<div class='comment' data-behavior="editable hoverable" data-id="<%= dom_id(comment) %>">
  <small>
    <%= comment.created_at.to_s(:long) %>
    by
    <%= comment.user.try(:email) %>
    at
    <%= comment.try(:region_name) %>
  </small>

  <% if comment.status == 'approved' %>
    <%= button_to [:approve, comment], remote: true, class: "btn btn-success btn-sm glyphicon glyphicon-ok pull-right" do %><% end %>
  <% else %>
    <%= button_to [:approve, comment], remote: true, class: "btn btn-default btn-sm glyphicon glyphicon-ok pull-right", data: { behavior: "show-on-hover" } do %><% end %>
  <% end %>

  <span class="btn btn-default btn-sm glyphicon glyphicon-pencil pull-right" data-behavior="edit show-on-hover"></span>

  <%= button_to comment_path(comment), method: :delete, data: { confirm: "Are you sure?", behavior: "show-on-hover" }, class: "btn btn-default btn-sm glyphicon glyphicon-remove pull-right" do %><% end %>

  <div class="view">
    <p>
      <%= comment.body %>
    </p>
  </div>
  <div class="edit">
    <%= form_for(comment, remote: true, :html => { :class => "form-horizontal" }) do |f| %>
      <%= f.text_area :body, id: "comment-body-#{comment.id}", :class => "form-control" %>
      <br/>
      <%= f.submit :class => "btn btn-primary" %>
    <% end %>
  </div>
  <br/>
</div>
