<div id="<%= dom_id(comment) %>" class='comment' data-behavior="editable hoverable">

  <%= render partial: 'shared/approval_button', locals: {approvable: comment} %>
  <%= render partial: 'shared/details_button', locals: {detailable: comment} %>
  <%= render partial: 'shared/edit_button' %>
  <%= render partial: 'shared/delete_button', locals: {deletable: comment} %>

  <div class="view">
    <p>
      <%= comment.body %>
    </p>
  </div>
  <div class="details" data-behavior="detail">
  </div>
  <div class="edit">
    <%= form_for(comment, remote: true, :html => { :class => "form-horizontal" }) do |f| %>
      <%= f.text_area :body, id: "comment-body-#{comment.id}", :class => "form-control" %>
      <br/>
      <%= f.submit :class => "btn btn-primary" %>
    <% end %>
  </div>
  <br/>
</div>
