<%= cache post do %>
  <tr>
    <td><%= post.created_at.to_s(:long) %></td>
    <td><%= link_to post.title, post %></td>
    <td><%= post.category.try(:name) %></td>
    <td><%= truncate(post.body, length: 200) %></td>
    <td></td>
  </tr>
<% end %>
