<div class="page-header">
  <%= link_to posts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Post</h1>
</div>

<%= link_to 'Delete', @post, method: :delete, class: 'delete-btn text-muted', data: { confirm: 'Are you sure?' } %>

<%= render @post %>

<h5>Comments</h5>

<div id="comments" data-behavior="actionable-list-items">
<%= render @post.comments %>
</div>

<%= render 'comments/form' %>